<!DOCTYPE html>
@*@if (Session["Employee"] == null)
{
    Response.Redirect("~/Login/Index");
}*@

@{ 
    NorthWindIleMVC.Models.Employees user = (NorthWindIleMVC.Models.Employees)Session["Employee"];
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Assets/CSS/MainStyle.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @RenderSection("styles", false)
</head>
<body>
    <div class="MainContainer">
        <div class="TopBar">
            <div class="Title">
                <h1>NorthWind Ticaret</h1> <h4>Admin Panel</h4>
            </div>
            <div class="User">
                <label>@user.FirstName @user.LastName (@user.UserName)</label>
                <a href="@Url.Action("LogOut", "Login")">Güvenli Çıkış</a>
            </div>
            <div style="clear:both"></div>
        </div>

        <div class="MenuBar">
            <a href="@Url.Action("Index", "Home")">Anasayfa</a>
            <a href="@Url.Action("Index", "Kategori")">Kategori İşlemleri</a>
            <a href="#">Tedarikçi İşlemleri</a>
            <a href="#">Ürün İşlemleri</a>
            <a href="#">Müşteriler</a>
            <a href="#">Satışlar</a>
        </div>

        <div class="ContentContainer">
            @RenderBody()
        </div>
    </div>
</body>
</html>
